<h1>RedigerKonti</h1>

<nav>
        <div>
            <ul class="navbar-nav">
               <li class="nav-item">
                    <a href="afterlogin">Home</a>
                </li>
                <li class="nav-item">
                    <a href="cryptokonti/json">Json</a>
                </li>
                <li class="nav-item">
                    <a href="createcryptokonti.html">Oprettet Konti</a>
                </li>
                <li class="nav-item">
                    <a href="redigerkonti">Redigerkonti</a>
                </li>
                <li class="nav-item">
                    <a href="Konti.html">Dummy data</a>
                </li>
                <li class="nav-item">
                    <a href="cryptokonti">Konti fra db</a>
                </li>
                  <li class="nav-item">
                    <a class="active" href="./">LogOut</a>
                </li>
            </ul>
        </div>
    </nav>
    </nav>
     <form action="/redigerkonti/put" method="post" class="rediger">
     <label><b>Hvilken konti skal justeres?</b></label>
     <br>
        <label>kundeid</label> <input type="text" placeholder="kundeid" name="kundeid">
        <td> <button type="submit" class="btn btn-dark">Find</button></td><br />

        <label><b>Justeringer:</b></label><br>

        <label>kontonummer</label> <input type="text" name="kontonummer" required><br />
        <label>valutatype</label> <input type="text" name="valutatype"required><br />
        <label>transaktion</label> <input type="text" name="transaktion" required><br />
        <label>saldo</label> <input type="number" name="saldo"required><br />
        
    </form>